[toolchain]
package_manager = "bun"

[features]
resolution = true
skip-lint = false

[programs.devnet]
flappy_bird = "DfJtsSqWNSetyRr3Fj4ZxM44oSBuZzAh4MTFMHQJSWvj"

[programs.localnet]
flappy_bird = "DfJtsSqWNSetyRr3Fj4ZxM44oSBuZzAh4MTFMHQJSWvj"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[test.validator]
# Required because we clone MagicBlock programs/accounts into the local validator.
url = "https://devnet.magicblock.app"

[scripts]
test = "bun run ts-mocha -p ./tsconfig.json -t 1000000 \"tests/**/*.ts\""

# Clone required MagicBlock programs from devnet for local testing
[[test.validator.clone]]
# Delegation Program
address = "DELeGGvXpWV2fqJUhqcF5ZSYMS4JTLjteaAMARRSaeSh"

[[test.validator.clone]]
# Magic Program 
address = "Magic11111111111111111111111111111111111111"

[[test.validator.clone]]
# Magic Context
address = "MagicContext1111111111111111111111111111111"

[[test.validator.clone]]
# Local ER Validator Identity (needed for local ER setup)
address = "mAGicPQYBMvcYveUZA5F5UNNwyHvfYh5xkLS2Fr1mev"

[[test.validator.clone]]
# Noop program for unique transactions  
address = "noopb9bkMVfRPU8AsbpTUg8AQkHtKwMYZiFUjNRtMmV"
